/* Main */
main {
    margin: 40px auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}


/* Article */
article #photo h4 {
    color: var(--text-dark);
    /* margin-bottom: 16px; */
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

.photo-grid .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
}

.photo-grid .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform-origin: center;
}

@media (hover: hover) {
  .photo-grid .card:hover img {
    transform: scale(1.05);
  }
}

/* Side */
aside #music h4 {
    color: var(--text-dark);
}

.video-container {
    background-color: var(--primary);
    border-radius: 12px;
    overflow: hidden;
    max-width: 560px;
    height: 315px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}